@mixin maas {
  // sticky-header - temporary fix
  // Issue: https://github.com/ubuntudesign/MAAS-design-squad/issues/98
  .p-sticky-header {
    background-color: $color-x-light;
    border-bottom: 1px solid $color-mid-light;
  }

  // XXX Footer link fix
  // Issue: https://github.com/vanilla-framework/vanilla-framework/issues/1500
  .p-footer__link {
    color: $color-link;

    &::after {
      color: $color-dark;
    }
  }

  // XXX Utility to remove max-width
  // Issue: https://github.com/vanilla-framework/vanilla-framework/issues/1502
  .u-remove-max-width {
    max-width: none;
  }

  body {
    background-color: $color-light;
  }

  .p-strip--light {
    background-color: $color-x-light;
  }

  [class^="ng-"],
  [class^="yui3-"] {
    margin-top: 0 !important;
  }

  // XXX Can be remove when this Vanilla issue is resolved
  // https://github.com/vanilla-framework/vanilla-framework/issues/1505
  [class^="p-icon--"], 
  [class*=" p-icon--"] {
    overflow: hidden;
  }

  maas-obj-field[type="text"] {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  textarea {
    min-height: 175px;
  }

  td.p-table-expanding__panel {
    position: relative;
    top: -1px;
  }

  .p-table-expanding__panel {
    background-color: $color-x-light;
    margin-left: 0 !important;
  }

  table {
    th,
    td {
      display: table-cell !important;
      flex-basis: auto !important;
      flex-grow: 0;
      margin-left: 3.2877% !important;

      &:first-child {
        margin-left: 0 !important;
      }
    }

    tr.is-active {
      background-color: $color-x-light;
    }
  }

  .u-float-none {
    float: none !important;
  }

  .p-form--inline,
  .p-form--inline .p-form__group {
    width: 100%;
  }

  p:empty,
  ul:empty {
    margin: 0;
    padding: 0;
  }

  .tags .input {
    width: 100% !important;
  }

  .onoffswitch {
    display: inline-block;

    &-checkbox {
      margin-right: 0;
    }
  }


  // XXX Can be remove when this Vanilla issue is resolved
  // https://github.com/vanilla-framework/vanilla-framework/issues/1509
  .p-tooltip__message {
    max-width: none;
    margin-top: 0;
  }
}
