@mixin maas-table-expanding {
  .p-table-expanding {
    &__panel {
      position: relative;
      top: -1px;
      background-color: $color-x-light;
    }

    td {
      display: table-cell;

      &[colspan='2'] {
        flex: 2;
      }
    }

    tr.is-active {
      background-color: $color-x-light;
    }
  }
}
