@import "../../../../node_modules/vanilla-framework/scss/grid/shelves/functions";

@mixin maas-p-forms {
  @include maas-p-form-stacked;
  @include maas-p-form-inline;

  .p-form__group {
    @extend %vf-clearfix;
  }
}

@mixin maas-p-form-stacked {
  .p-form--stacked {
    .p-form__label,
    .p-form__control {
      flex-basis: auto;
    }

    .p-form__control > .p-control-text {
      @extend %default-text;
      display: block;
    }
  }
}

@mixin maas-p-form-inline {
  .p-form--inline .p-form__group .p-form__label {
    flex-shrink: 1;
  }

  .p-form--inline,
  .p-form--inline .p-form__group {
    width: 100%;
  }

  .p-form--stacked {
    .p-form__group + .p-form__group {
      margin-top: 0;
    }
  }
}
