{% load field_type %}
<li class="{{ field.html_name }}{% if css_class %} {{ css_class }}{% endif %}{% if field.errors %} error{% endif %}{% if field.help_text %} help-msg{% endif %}">
    {% if not field.is_hidden %}
    {% ifequal field|field_type "CheckboxInput" %}
        {{ field }}
    {% endifequal %}
    {% if field.label %}
    <label for="id_{{ field.html_name }}">
        {{ field.label }}
        {% if field.field.required %}
        <span class="required">(required)</span>
        {% endif %}
    </label>
    {% endif %}
    {% endif %}
    {% ifnotequal field|field_type "CheckboxInput" %}
    {{ field }}
    {% endifnotequal %}
    {% if field.errors %}
    <p class="p-form-validation__message"><strong>Error:</strong> {{ field.errors }}</p>
    {% endif %}
    <p class="p-form-help-text">{% if field.help_text %}{{ field.help_text }}{% endif %}</p>
</li>
