Source: maas
Section: net
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 8.1.0~),
               dh-apport,
               dh-python,
               dh-systemd,
               po-debconf,
               python3-all,
               python3-django,
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.5
Homepage: https://launchpad.net/maas

Package: maas
Architecture: all
Depends: maas-cluster-controller (= ${binary:Version}),
         maas-region-controller (= ${binary:Version}),
         python3-django-maas (= ${binary:Version}),
         ${misc:Depends}
Description: MAAS server all-in-one metapackage
 MAAS is "Metal As A Service", a system for dynamic provisioning of physical
 servers that has many of the same characteristics as a cloud.  You register
 servers with MAAS by telling MAAS about their IPMI or other control system.
 MAAS can then do hardware inventory, and provision that system on demand
 with whatever OS and software you like.  MAAS is standalone software that
 works with any configuration system, but for best results combine MAAS with
 Juju.
 .
 MAAS provides:
  * Hardware inventory of servers
  * Dynamic provisioning based on name or attributes such as disk, RAM cores, sockets
  * DNS and DHCP as needed
  * PXE boot services
 .
 This package is a metapackage which installs all of the separate components
 of MAAS on a single machine.

Package: maas-common
Architecture: all
Depends: ${misc:Depends}
Breaks: maas ( <= 0.1+bzr1048+dfsg-0ubuntu1 )
Replaces: maas ( <= 0.1+bzr1048+dfsg-0ubuntu1 )
Description: MAAS server common files
 This package contains the common files for any MAAS installation.

Package: maas-region-controller-min
Architecture: all
Depends: apache2,
         bind9utils,
         dbconfig-common,
         iproute,
         libjs-angularjs,
         libjs-yui3-full,
         libjs-yui3-min,
         maas-common (= ${binary:Version}),
         maas-proxy (= ${binary:Version}),
         python3-bson,
         python3-django,
         python3-django-maas (= ${binary:Version}),
         python3-django-piston3,
         python3-djorm-ext-pgarray,
         python3-maas-provisioningserver (= ${binary:Version}),
         python3-petname,
         rsyslog,
         ubuntu-cloudimage-keyring,
         ${misc:Depends},
         ${python3:Depends}
Breaks: maas-region-controller ( <= 1.4+bzr1693+dfsg-0ubuntu3 )
Replaces: maas-region-controller ( <= 1.4+bzr1693+dfsg-0ubuntu3 )
Description: MAAS Server minimum region controller
 This package installs and configures the minimum region controller
 services provided by MAAS, including the web UI, caching package proxy,
 networking/traffic control, and remote logging system.

Package: maas-region-controller
Architecture: all
Depends: maas-dns (= ${binary:Version}),
         maas-region-controller-min (= ${binary:Version}),
         postgresql (>= 9.1),
         ${misc:Depends},
Recommends: openssh-server
Description: MAAS server complete region controller
 This package installs and configures the complete MAAS region controller,
 including the minimum setup, plus the database server and messaging queue.

Package: python3-maas-provisioningserver
Section: python
Architecture: all
Depends: python3-bson,
         python3-crochet,
         python3-curtin (>> 0.1.0~bzr275),
         python3-distro-info,
         python3-formencode,
         python3-jsonschema,
         python3-lxml,
         python3-maas-client (= ${binary:Version}),
         python3-netifaces,
         python3-paramiko,
         python3-pexpect,
         python3-pyparsing,
         python3-seamicroclient,
         python3-simplestreams,
         python3-tempita,
         python3-twisted,
         python3-txtftp,
         python3-yaml,
         python3-zope.interface,
         ${misc:Depends},
         ${python3:Depends}
Breaks: maas-cluster-controller (<= 0.1+bzr1243+dfsg-0ubuntu3),
        maas-dhcp (<= 1.4+bzr1817+dfsg-0ubuntu1),
        python-django-maas ( <= 0.1+bzr1048+dfsg-0ubuntu1 )
Replaces: maas-cluster-controller (<= 0.1+bzr1243+dfsg-0ubuntu3),
          maas-dhcp (<= 1.4+bzr1817+dfsg-0ubuntu1),
          python-django-maas ( <= 0.1+bzr1048+dfsg-0ubuntu1 )
Description: MAAS server provisioning libraries (Python 3)
 This package provides the MAAS provisioning server python libraries.
 .
 This package contains Python 3 libraries.

Package: maas-cli
Architecture: all
Depends: python3-httplib2,
         python3-maas-client (= ${binary:Version}),
         python3-oauth,
         ${misc:Depends},
         ${python3:Depends}
Conflicts: maas-region-controller-min (<= 1.5+bzr1909-0ubuntu1)
Replaces: maas-region-controller-min (<= 1.5+bzr1909-0ubuntu1)
Description: MAAS command line API tool
 This package contains the MAAS client command line API tool.
 This tool enables automation of tasks in MAAS, remotely, through
 its API.

Package: python3-maas-client
Section: python
Architecture: all
Depends: python3-oauth, ${misc:Depends}, ${python3:Depends}
Breaks: maas (<= 0.1+bzr971+dfsg-0ubuntu2 )
Replaces: maas (<= 0.1+bzr971+dfsg-0ubuntu2 )
Description: MAAS python API client (Python 3)
 This package contains the MAAS client API Python modules.
 .
 This package contains Python 3 modules.

Package: maas-cluster-controller
Architecture: all
Depends: authbind,
         bind9utils,
         distro-info,
         freeipmi-tools,
         grub-common,
         maas-cli (=${binary:Version}),
         maas-common (=${binary:Version}),
         maas-dhcp (=${binary:Version}),
         pxelinux | syslinux-common (<< 3:6.00~pre4+dfsg-5),
         python3-httplib2,
         python3-maas-provisioningserver (=${binary:Version}),
         python3-netaddr,
         python3-oauth,
         python3-tempita,
         python3-twisted,
         python3-zope.interface,
         rsyslog,
         syslinux-common,
         tgt,
         uuid-runtime,
         wget,
         ${misc:Depends},
         ${python3:Depends}
Suggests: amtterm, ipmitool, libvirt-bin, python-pyvmomi
Conflicts: tftpd-hpa
Breaks: maas ( <= 0.1+bzr1048+dfsg-0ubuntu1 ),
        maas-region-controller ( <= 0.1+bzr1314+dfsg-0ubuntu1 ),
        python-maas-provisioningserver ( <= 1.9.0 )
Replaces: maas ( <= 0.1+bzr1048+dfsg-0ubuntu1 ),
          maas-region-controller ( <= 0.1+bzr1314+dfsg-0ubuntu1 ),
          python-maas-provisioningserver ( <= 1.9.0 )
Description: MAAS server cluster controller
 This package contains the MAAS cluster controller, which is responsible
 for enabling and controlling remote DHCP/TFTP instances on their own
 subnets.

Package: python3-django-maas
Section: python
Architecture: all
Depends: python3-apt,
         python3-convoy,
         python3-crochet,
         python3-curtin (>> 0.1.0~bzr275),
         python3-lxml,
         python3-maas-client (= ${binary:Version}),
         python3-netaddr,
         python3-psycopg2,
         python3-sphinx,
         python3-tempita,
         python3-twisted,
         python3-zope.interface,
         ${misc:Depends},
         ${python3:Depends}
Description: MAAS server Django web framework (Python 3)
 This package provides the Django web framework for MAAS.
 .
 This package contains Python 3 modules.

Package: maas-dhcp
Architecture: all
Depends: isc-dhcp-server (>= 4.2.4), ${misc:Depends}
Breaks: maas-dhcp (<= 0.1+bzr777+dfsg-0ubuntu1)
Replaces: maas-dhcp (<= 0.1+bzr777+dfsg-0ubuntu1)
Description: MAAS DHCP server
 This package installs and configures a DHCP server that can be used by
 MAAS, and enhances the overall MAAS user experience.

Package: maas-dns
Architecture: all
Depends: bind9,
         maas-region-controller-min (= ${binary:Version}),
         ${misc:Depends}
Conflicts: dnsmasq
Breaks: maas-dhcp (<= 0.1+bzr777+dfsg-0ubuntu1)
Replaces: maas-dhcp (<= 0.1+bzr777+dfsg-0ubuntu1)
Description: MAAS DNS server
 This package installs and configures a DNS server that can be used by
 MAAS, and enhances the overall MAAS user experience.

Package: maas-proxy
Architecture: all
Depends: squid3, ${misc:Depends}, ${python3:Depends}
Conflicts: squid-deb-proxy
Replaces: squid-deb-proxy
Description: MAAS Caching Proxy
 This package installs and configures a Caching Proxy server that can be
 used by MAAS. It enhances the overall MAAS user experience.
