#!/bin/sh -e

# Only ask this question on new installs and reconfigures
if ([ "$1" = "configure" ] && [ -z "$2" ]) || [ "$1" = "reconfigure" ]; then
        . /usr/share/debconf/confmodule

	db_input high maas-dhcp/maas-dhcp-enabled || true
	db_go
	db_get maas-dhcp/maas-dhcp-enabled || true
	if [ "$RET" = "true" ]; then
		db_input high maas-dhcp/maas-dhcp-range || true
		db_go
		db_input high maas-dhcp/maas-dhcp-netmask || true
		db_go
		db_input high maas-dhcp/maas-dhcp-broadcast || true
		db_go
		db_input high maas-dhcp/maas-dhcp-gateway || true
		db_go
		db_input high maas-dhcp/maas-dhcp-interface || true
		db_go
	fi

fi
#DEBHELPER#
