#!/bin/sh -e

# Only ask for new installations and reconfiguring.
# XXX Fix to not ask when installing from the CD.
if ([ "$1" = "configure" ] && [ -z "$2" ]); then
    . /usr/share/debconf/confmodule

    db_get maas-cluster-controller/maas-url || true
    if [ -n "$RET" ]; then
        db_set maas-cluster-controller/maas-url "$RET"
    else
        # Attempt to pre-populate if installing on the region controller.
        if [ -e /etc/maas/maas_local_settings.py ]; then
            url=$(awk '$1 == "DEFAULT_MAAS_URL" { split($0,array,"\"")} END{print array[2] }' /etc/maas/maas_local_settings.py)
            db_set maas-cluster-controller/maas-url "$url"
        else
            # Will only get here if dbconf value not already set, or
            # /etc/maas/maas_local_settings.py doesn't exist.
            db_input medium maas-cluster-controller/maas-url || true
            db_go
        fi
    fi
fi

if [ "$1" = "reconfigure" ]; then
    db_input high maas-cluster-controller/maas-url || true
    db_go
fi
#DEBHELPER#
