[Unit]
Description=MAAS instance of ISC DHCP server for IPv4
Documentation=man:dhcpd(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target
ConditionPathExists=/etc/maas/dhcpd.conf
ConditionPathExists=/var/lib/maas/dhcpd-interfaces

[Service]
# Allow dhcp server to write lease and pid file as 'dhcpd' user
ExecStartPre=/bin/mkdir -p /run/maas/dhcp
ExecStartPre=/bin/chown root:root /run/maas/dhcp
# The leases files need to be root:root even when dropping privileges
ExecStartPre=/bin/mkdir -p /var/lib/maas/dhcp
ExecStartPre=/bin/chown root:root /var/lib/maas/dhcp
# Start the daemon
ExecStart=/bin/sh -ec '\
    INTERFACES=$(cat /var/lib/maas/dhcpd-interfaces); \
    LEASES_FILE=/var/lib/maas/dhcp/dhcpd.leases; \
    [ -e $LEASES_FILE ] || touch $LEASES_FILE; \
    chown root:root /var/lib/maas/dhcp /var/lib/maas/dhcp/dhcpd.leases*; \
    exec dhcpd -user dhcpd -group dhcpd -f -q -4 -pf /run/maas/dhcp/dhcpd.pid \
        -cf /etc/maas/dhcpd.conf -lf $LEASES_FILE $INTERFACES'

[Install]
WantedBy=multi-user.target
