[Unit]
Description=MAAS instance of ISC DHCP server for IPv6
Documentation=man:dhcpd(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target
ConditionPathExists=/etc/maas/dhcpd6.conf
ConditionPathExists=/var/lib/maas/dhcpd-interfaces

[Service]
ExecStartPre=/bin/mkdir -p /run/maas/dhcp
# Allow dhcp server to write lease and pid file as 'dhcpd' user
ExecStartPre=/bin/chown dhcpd:dhcpd /run/maas/dhcp
# The leases files need to be root:root even when dropping privileges
ExecStart=/bin/sh -ec '\
    CONFIG_FILE=/etc/maas/dhcpd6.conf; \
    INTERFACES_FILE=/var/lib/maas/dhcpd-interfaces; \
    [ -e /var/lib/maas/dhcp/dhcpd6.leases ] || touch /var/lib/maas/dhcp/dhcpd6.leases; \
    chown root:root /var/lib/maas/dhcp /var/lib/maas/dhcp/dhcpd6.leases*; \
    exec dhcpd -user dhcpd -group dhcpd -f -6 -pf /run/maas/dhcp/dhcpd6.pid -cf $CONFIG_FILE $INTERFACES_FILE'

[Install]
WantedBy=multi-user.target
